@use './reset';
@import './theme';

* {
    font-family: $font-family;
    font-weight: $weight;
    font-size: $font-size;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html,
body,
main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $bg-bottom;
    color: $fg;
    scroll-behavior: smooth;
}
