@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,
body,
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Inter', sans-serif;
}

html {
  overflow: hidden;
}

* {
  //all: unset;
  box-sizing: border-box;
}

p {
  margin: 0;
}
