@import 'theme';

:global(html,
  body,
  main) {
  all: unset;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: $font;
  background-color: transparent;
  color: $foreground;
  min-height: 100vh;
  overflow: hidden;
}

:global(*) {
  font-family: $font;
}