$background: #070707;
$background-secondary: #1C1D21;

$foreground: #FFFFFF;

$primary: #6B43FD;

$border-radius: 10px;
$border-radius2: calc($border-radius * 2);
$border-color: #333438;

$gap: 10px;
$gap2: calc($gap * 2);
$gap3: calc($gap * 3);
$gap4: calc($gap * 4);
$gap5: calc($gap * 5);
$gap6: calc($gap * 6);
