$background: #070707;
$background-secondary: #1C1D21;

$foreground: #FFFFFF;

$border-radius: 20px;
$border-color: rgba(255, 255, 255, 0.1);

$gap: 12px;
$gap2: calc($gap * 2);
$gap3: calc($gap * 3);
$gap4: calc($gap * 4);
$gap5: calc($gap * 5);
$gap6: calc($gap * 6);
