@import 'theme';

:global(html,
  body,
  main) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: $font;
  background-color: rgb(21, 22, 31);
  //background: transparent;
  color: $foreground;
  height: 100vh;
  overflow: hidden;
}

:global(style) {
  display: none;
}

:global(button, p) {
  all: unset;
  margin: 0;
}

:global(::-webkit-scrollbar) {
  width: 3px;
  height: 3px;
}

:global(::-webkit-scrollbar-track) {
  margin: 5px;
  background: transparent;
}

:global(::-webkit-scrollbar-thumb) {
  background: $foreground-muted;
  border-radius: 100px;

}