@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Rubik&display=swap');

$background: #131313;
$background-dark: #1F1F1F;
$background-light: #343434;

$foreground: #FFFFFF;

$accent: #AD50A3;

$border-color: rgba(66, 66, 66, 0.8);

$font: 'Rubik', sans-serif;
$font-mono: 'PT Mono', monospace;