name: ci

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  check-nix:
    name: check nix
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v6

    - name: setup nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: setup nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: run flake checks
      uses: DeterminateSystems/flake-checker-action@main

  check-frontend:
    name: check frontend
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
    - name: checkout code
      uses: actions/checkout@v6

    - name: setup nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: setup nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: cache frontend dependencies
      uses: actions/cache@v4
      with:
        path: |
          frontend/node_modules
          frontend/.svelte-kit
          ~/.bun/install/cache
        key: ${{ runner.os }}-frontend-${{ hashFiles('frontend/bun.lockb') }}
        restore-keys: |
          ${{ runner.os }}-frontend-

    - name: install nix dependencies
      run: nix develop --command true

    - name: run checks
      run: nix develop --command just check-frontend

  check-core:
    name: check core
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
    - name: checkout code
      uses: actions/checkout@v6

    - name: setup nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: setup nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: cache frontend dependencies
      uses: actions/cache@v4
      with:
        path: |
          frontend/node_modules
          frontend/.svelte-kit
          ~/.bun/install/cache
        key: ${{ runner.os }}-frontend-${{ hashFiles('frontend/bun.lockb') }}
        restore-keys: |
          ${{ runner.os }}-frontend-

    - name: cache core dependencies
      uses: actions/cache@v4
      with:
        path: |
          core/target
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: ${{ runner.os }}-cargo-v2-${{ hashFiles('core/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-v2

    - name: install nix dependencies
      run: nix develop --command true

    - name: check
      run: nix develop --command just check-core
